{% extends 'core/base.html' %}

{% block content %} 

<h3>Perros</h3>

<div class="row">
    <div class="col-md-4 mb-3" style="border-bottom: 1px solid #f2f2f2;">
        <div class="card" style="width: 18rem;">
            <img src="imagen_del_perro_1" class="card-img-top" alt="Imagen perro 1">
            <div class="card-body">
                <h5 class="card-title">Perro 1</h5>
                <p class="card-text">Breve descripción del perro 1.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Edad: 2 años</li>
                    <li class="list-group-item">Raza: Labrador</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-3" style="border-bottom: 1px solid #f2f2f2;">
        <div class="card" style="width: 18rem;">
            <img src="imagen_del_perro_2" class="card-img-top" alt="Imagen perro 2">
            <div class="card-body">
                <h5 class="card-title">Perro 2</h5>
                <p class="card-text">Breve descripción del perro 2.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Edad: 60 años</li>
                    <li class="list-group-item">Raza: Gato</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-3" style="border-bottom: 1px solid #f2f2f2;">
        <div class="card" style="width: 18rem;">
            <img src="imagen_del_perro_3" class="card-img-top" alt="Imagen perro 3">
            <div class="card-body">
                <h5 class="card-title">Perro 3</h5>
                <p class="card-text">Breve descripción del perro 3.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Edad: 5 años</li>
                    <li class="list-group-item">Raza: Perro</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}


